<header class="bd-header py-3 d-flex align-items-stretch border-bottom">
    <div class="container-fluid d-flex align-items-center">
        <img src="../assets/img/minera.png" width="120" height="64" class="me-3">
      <h1 class="d-flex align-items-center fs-3 mb-0">
        Trabajando por un Perú mejor
      </h1>
      <button class="btn btn-primary ms-auto"><i class="fas fa-sign-out-alt"></i> Cerrar Sessión</button>
    </div>
</header>
<nav class="navbar navbar-dark bg-primary" aria-label="First navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Administración de postulantes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Reportería</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>